.chatTask {
   flex: 80%;
   height: 100vh;
   padding: 20px 3% 0 3%;
   .MentorTop {
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: flex-end;
      div {
         background: #F8F8F8;
         padding: 5px;
         border-radius: 50%;
         margin-left: 15px;
         img {
            width: 20px;
            height: 15px;
         }
      }
   }
   h2 {
      margin: 10px 0;
      height: 30px;
   }
   .mainChatTask {
      background-color: #F8F8F8;
      display: flex;
      .chatTaskList {
         flex: 25%;
         position: relative;
         ul {
            display: flex;
            list-style-type: none;
            height: 50px;
            li {
               flex: 50%;
               position: relative;
               a {
                  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                  padding: 20px 10px 5px 10px;
                  width: 100%;
                  display: block;
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 16px;
                  &:focus {
                     border-bottom: 2px solid #00B533;
                  }
               }
               span {
                  position: absolute;
                  top: 8px;
                  display: inline-block;
                  background-color: red;
                  padding: 0 4px;
                  border-radius: 50%;
                  font-size: 13px;
                  color: white;
               }
            }
         }
         form {
            height: 50px;
            display: flex;
            padding: 5px;
            button {
               border: none;
               background-color: #F8F8F8;
               &:first-child {
                  padding-right: 10px;
               }
               &:focus {
                  outline: none;
                  cursor: pointer;
               }
            }
            input {
               border: none;
               width: 100%;
               background-color: #F8F8F8;
               &:focus {
                  outline: none;
               }
            }
         }
         .chatPeople {
            overflow-y: auto;
            height: calc(100vh - 200px);
            .chatItem {
               background-color: white;
               padding: 5px 10px;
               margin:2px 1px;
               display: flex;
               border: none;
               display: flex;
               align-items: center;
               &:focus {
                  background-color: #00B533;
                  cursor: pointer;
                  border: none;
                  outline: none;
                  .Information {
                     div {
                        h5 {
                           color: white;
                        }
                        p {
                           opacity: 1;
                           color: white;
                        }
                        span {
                           background-color: white;
                           color: #00B533;
                        }
                     }
                  }
               }
               .chatImg {
                  flex: 20%;
                  img {
                     width: 100%;
                     border-radius: 50%;
                  }
               }
               .Information {
                  flex: 80%;
                  margin-left: 5%;
                  div { 
                     display: flex;
                     justify-content: space-between;
                     h5 {
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 16px;
                        color: #000000;
                     }
                     p {
                        font-size: 10px;
                        opacity: 0.3;
                        text-align: left;
                     }
                     span {
                        background: #DE1E3A;;
                        width: 15px;
                        height: 15px;
                        font-size: 10px;
                        padding: 0 5px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                     }
                  }
               }
            }
         }
      }
      .chatContent {
         flex: 50%;
         .Levels {
            height: 80px;
            display: flex;
            background: #e5e5e5;
            .paginationItems {
               flex: 80%;
               display: flex;
               button {
                  border: none;
                  flex: 20%;
                  padding: 1%;
                  border-radius: 3px;
                  margin: 1px;
                  justify-content: center;
                  background-color: #F8F8F8;
                  text-decoration: none;
                  color: rgba(0, 0, 0, 0.3);
                  &:focus {
                     background-color: white;
                     outline: none;
                     color: black;
                  }
                  div {
                     h4, h5, p {
                        text-align: center;
                        margin-bottom: 3px;
                     }
                  }
               }
            }
            .paginationController {
               flex: 20%;
               align-items: center;
               display: flex;
               background: white;
               justify-content: center;
               margin: 1px;
               div {
                  width: 2px;
                  background-color: rgba(0, 0, 0, 0.2);
                  height: 80%;
                  margin: 0 10%;
               }
            }
         }
         .LevelsDown {
            height: 70px;
            display: flex;
            background-color: white;
            .taskName {
               flex: 45%;
               display: flex;
               align-items: center;
               padding: 0 3%;
               h4 {
                  font-size: 16px;
               }
            }
            .levelNumber {
               flex: 55%;
               padding: 1% 0;
               & > div {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 10%;
                  width: 100%;
                  height: 100%;
                  border-left: 2px solid rgba(0, 0, 0, 0.2);
                  p {
                     span {
                        float: right;
                     }
                     margin-bottom: 5px;
                  }
                  div {
                     display: flex;
                     align-items: center;
                     .shapeLevel {
                        flex: 1;
                        .slider {
                           -webkit-appearance: none;
                           display: block;   
                           // background-color: black;
                           background: linear-gradient(269.93deg, #FFB436 -7.99%, #F7798B 101.05%);
                           // outline: none;
                           // -webkit-transition: .2s;
                           transition: opacity .2s;
                           // border-right: 100px solid linear-gradient(269.93deg, #FFB436 -7.99%, #F7798B 101.05%);
                           border-top: 5px solid transparent;
	                        border-bottom: 5px solid transparent;
                           width: 100%;
                           height: 10px;
                           border-radius: 10px;
                           &:focus {
                              outline: none;
                           }
                        }

                        .slider::-webkit-slider-thumb {
                           -webkit-appearance: none;
                           appearance: none;
                           width: 20px;
                           height: 20px;
                           background: #FFB436;
                           cursor: pointer;
                           border-radius: 50%;
                        }

                     }
                  }
               }
            }
         }
         .chatSection {
            background-color: white;
            padding: 0 3%;
            .chatMenu {
               height: calc(100vh - 290px);
               overflow-y: auto;
               .firstchat {
                  margin-right: 20%;
               }
               .firstchat, .secondchat {
                  padding: 3%;
                  border-radius: 10px;
                  background: #F8F8F8;
                  margin-bottom: 3%;
                  & > p {
                     text-align: end;
                     color: red;
                  }
                  & > div {
                     &:first-child {
                        background: #F8F8F8;
                        display: flex;
                        .upload-btn-wrapper {
                           position: relative;
                           overflow: hidden;
                           display: inline-block;
                           .btn {
                              border: 2px solid gray;
                              color: gray;
                              background-color: white;
                              padding: 4px 7px;
                              border-radius: 50%;
                              font-size: 20px;
                              font-weight: bold;
                              }

                           input[type=file] {
                              font-size: 100px;
                              position: absolute;
                              left: 0;
                              top: 0;
                              opacity: 0;
                           }
                        }
                        .fileAbout {
                           flex: 1;
                           margin-left: 5%;
                           h4 {
                              font-weight: 600;
                              font-size: 14px;
                              line-height: 20px;
                           }
                           p {
                              font-size: 14px;
                              line-height: 26px;
                              color: #898989;
                           }
                        }
                     }
                     &:nth-child(2) {
                        padding: 2% 0;
                        background: #F8F8F8;
                        p {
                           font-size: 14px;
                           line-height: 16px;
                           color: black;
                        }
                     }
                  }
                  & > p {
                     font-family: SF Pro Display;
                     font-style: italic;
                     font-weight: 300;
                     font-size: 12px;
                     line-height: 16px;
                     color: black;
                  }
               }
               .secondchat {
                  margin-left: 20%;
               }
            }
            .typeComment {
               display: flex;
               align-items: center;
               .upload-btn-wrapper {
                  position: relative;
                  overflow: hidden;
                  display: inline-block;
                  .btn {
                     border: none;
                     color: gray;
                     background-color: white;
                     padding: 4px 7px;
                     font-size: 24px;
                     font-weight: bold;
                     }

                  input[type=file] {
                     font-size: 100px;
                     position: absolute;
                     left: 0;
                     top: 0;
                     opacity: 0;
                  }
               }
               input[type=text] {
                  border: none;
                  margin-left: 2%;
                  width: 80%;
                  &:focus {
                     border: none;
                     outline: none;
                  }
                  &::-webkit-input-placeholder {
                     font-size: 12px;
                     line-height: 3;
                  }
               }
               & > button {
                  border: none;
                  background-color: white;
                  font-size: 25px;
                  svg {
                     color: green;
                  }
               }
            }
         }
      }
      .chatProfile {
         flex: 25%;
         padding: 1px;
         height: calc(100vh-100px);
         .chatPerson {
            padding: 10px 8% 0 8%;
            background-color: white;
            img {
               width: 30%;
               margin: auto;
               display: block;
               border-radius: 50%;
               margin-bottom: 2%;
            }
            & > h3 {
               text-align: center;
               margin-bottom: 30px;
            }
            .personAbout {
               display: flex;
               margin-bottom: 40px;

               .col-4 {
                  display: flex;
                  align-items: center;
                  flex-direction: column;
                  flex: 33.3%;
                  border: 0;
                  background: white;
                  position: relative;
                  color: black;
                  &:focus {
                     border: none;
                     outline: none;
                  }
                  & > div:first-child {
                     background-color: #e5e5e5;
                     margin-bottom: 5px;
                     border-radius: 50%;
                     width: 30px;
                     height: 30px;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                  }
                  p {
                     font-size: 12px;
                  }
                  .taskHistory {
                     // display: none;
                     position: absolute;
                     background-color: white;
                     width: 400%;
                     // display: flex;
                     flex-direction: column;
                     top: 50px;
                     right: 50%;
                     box-shadow: 0 0 5px black;
                     div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5% 10%;
                        border: 1px solid black;
                        margin: 5px;
                        
                     }
                  }
                  .kursInfo {
                     position: absolute;
                     background-color: white;
                     width: 400%;
                     // display: none;
                     flex-direction: column;
                     top: 50px;
                     right: 50%;
                     box-shadow: 0 0 5px black;
                     & > div {
                        display: flex;
                        // align-items: center;
                        padding: 3%;
                        .circle {
                           margin-top: 2px;
                           width: 10px;
                           height: 10px;
                           background-color: green;
                           border-radius: 50%;
                           margin-right: 3%;
                        }
                     }
                  }
               }
            }
            .personStars {
               display: flex;
               margin-bottom: 7%;
               justify-content: space-between;
               svg {
                  flex: 20%;
                  font-size: 20px;
            
                  &:nth-child(4) {
                     fill: #e5e5e5;
                  }
                  &:nth-child(5) {
                     fill: #e5e5e5;
                  }
                  fill: #FFB436;

               }
            }
            .checkError {
               display: flex;
               margin-bottom: 8%;
               div {
                  flex: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 5px;
                  svg {
                     fill: white;
                     font-size: 25px;
                  }
                  &:first-child {
                     background-color: green;
                     margin-right: 2.5%;
                  }
                  &:nth-child(2) {
                     background-color: red;
                     margin-left: 2.5%;
                  }
               }
            }
            .taskAbout {
               margin-bottom: 5%;
               margin-top: 5%;
               h3 {
                  margin-bottom: 5%;
                  font-size: 16px;
               }
               div {
                  border-left: 2px solid green;
                  padding-left: 5%;
                  p {
                     font-size: 13px;
                     opacity: 0.7;
                  }
               }
            }
            .task {
               border: 2px solid black;
               padding: 3%;
               a {
                  display: flex;
                  align-items: center;
                  text-decoration: none;
                  color: black;
                  svg {
                     margin-right: 3%;
                     color: black;
                     font-size: 25px;
                  }
               }
            }
         }
      }
   }
}

.flex {
   display: flex;
}

.none {
   display: none;
}

@media screen and (max-width: 960px) {
   .chatTask {
      .mainChatTask {
         .chatProfile {
            display: none;
         }
      }
   }
}
