* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF-Pro-Display-Regular;
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url("assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url("assets/fonts/SF-Pro-Display-Semibold.otf");
}

#root {
  position: relative;
}

#App {
  margin: auto;
  padding: 40px 55px 0 55px;
  max-width: 1600px;
}

@media screen and (max-width: 1040px) {
  #App {
    padding: 10px 5px 0 5px;
  }
}

.menuOpen {
  position: absolute;
  top: 15px;
  left: 5px;
  cursor: pointer;
}

.menuClose {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media screen and (min-width: 1200px) {
  .menuOpen,
  .menuClose {
    display: none;
  }
}

/* @media screen and (min-width: 1400px) {
  #App {
    padding: 40px 15%;
    max-width: 100%;
  }
} */
